{% extends 'widgets/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Checkout user info</title>
    <link rel="icon" href="{% static "images/icons/web-icon.png" %}" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static "css/checkout/checkout_main.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/checkout_cart.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/checkout/checkout_auth.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="{% static "css/profile/profile_information.css" %}">
    <script src="{% static "js/checkout/totalCalculation.js" %}"></script>
    {{ config|json_script:"config-data" }}
</head>
<body>
    {% if error_messages %}
        {% include "registration/errorDialog.html" with errors=error_messages %}
    {% endif %}

    {% include "widgets/navigation_bar.html" %}
    <div class="checkout-page-container">
        <div class="page-content">
            <div class="doc-content">
                <div class="informational-content">
                    <div class="shopping-cart-label">{% trans "Personal Information"%}<hr class="no-padding"></div>
                    <div class="labels">
                        <div class="auth-type-container">
                            <label for="section1">{% trans "Order as a guest"%}</label>
                            <input class="display-none" type="radio" id="section1" name="section" checked>
                            <label for="section2">{% trans "Sign in"%}</label>
                            <input class="display-none" type="radio" id="section2" name="section">
                        </div>
                        <div class="underline"></div>
                    </div>
                </div>

                <section id="wrapper" class="stick_parent_lb section-1">
                    <div class="container">
                        <div id="content-wrapper">
                            <section id="main1">
                                <div class="container">
                                    <header class="page-header">
                                        <h1 class="text-gray-muted">{% trans "Create an account"%} </h1>
                                    </header>
                                    <section id="content" class="page-content card card-block">
                                        <section class="register-form">
                                            <form action="{% url 'cart_anonymous_register' %}" id="customer-form" class="js-customer-form" method="post">
                                            {% csrf_token %}
                                                <div>
                                                    <div class="form-group row ">
                                                        <div class="col-md-12 form-control-valign">
                                                            <label>{% trans "Social title"%}</label>
                                                            {% for radio in form_register.social_title %}
                                                                <label class="radio-inline">
                                                                    <span class="custom-radio">
                                                                        {{ radio.tag }}
                                                                        <span></span>
                                                                    </span> {{ radio.choice_label }}
                                                                </label>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="col-md-12 form-control-comment"></div>
                                                    </div>

                                                    <div class="form-group row ">
                                                        <div class="col-md-12 form-control-comment">
                                                            <span class="req">*</span>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label>{% trans "First name"%}</label>
                                                            {{ form_register.first_name | add_class:"form-control" | attr:"" }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group row ">
                                                        <div class="col-md-12 form-control-comment">
                                                            <span class="req">*</span>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label>{% trans "Last name"%}</label>
                                                            {{ form_register.last_name | add_class:"form-control" | attr:"" }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group row ">
                                                        <div class="col-md-12 form-control-comment">
                                                            <span class="req">*</span>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label>Email</label>
                                                            {{ form_register.email | add_class:"form-control" | attr:"placeholder: "|attr:"autocomplete:off" }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group row ">
                                                        <div class="col-md-12 form-control-comment">
                                                            <span class="req">*</span>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label>{% trans "Password"%}</label>
                                                            <div class="input-group js-parent-focus">
                                                                {{ form_register.password1 | add_class:"form-control js-child-focus js-visible-password" | attr:""|attr:"autocomplete:new-password" }}
                                                                {% include "widgetElements/showPasswordBtn.html" %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row ">
                                                        <div class="col-md-12 form-control-comment">
                                                            <span class="req">*</span>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label>{% trans "Confirm you password"%}</label>
                                                            <div class="input-group js-parent-focus">
                                                                {{ form_register.password2 | add_class:"form-control js-child-focus js-visible-password" | attr:""|attr:"autocomplete:new-password" }}
                                                                {% include "widgetElements/showPasswordBtn.html" %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row ">
                                                        <div class="col-md-12">
                                                            <label>{% trans "Birthdate"%}</label>
                                                            {{ form_register.birthdate | add_class:"form-control" | attr:"" }}
                                                            <span class="form-control-comment"> (E.g.: 1970-05-31) </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row ">
                                                        <div class="col-md-12">
                                                            <label></label>
                                                            <span class="custom-checkbox">
                                                                {{ form_register.offers | add_class:"form-control" | attr:"" }}
                                                                <span>
                                                                    <i class="material-icons rtl-no-flip checkbox-checked"></i>
                                                                </span>
                                                                <label>{% trans "Receive offers from our partners"%}</label>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row ">
                                                        <div class="col-md-12">
                                                            <label></label>
                                                            <span class="custom-checkbox">
                                                                {{ form_register.receive_newsletter | add_class:"form-control" | attr:"" }}
                                                                <span>
                                                                    <i class="material-icons rtl-no-flip checkbox-checked"></i>
                                                                </span>
                                                                <label>
                                                                    {% trans "Sign up for our newsletter"%}<br><em>{% trans "You may unsubscribe at any moment. For that purpose, please find our contact info in the legal notice."%}</em>
                                                                </label>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row ">
                                                        <div class="col-md-12">
                                                            <label></label>
                                                            <span class="custom-checkbox">
                                                                {{ form_register.gdpr_consent|add_class:"form-control"| attr:"" }}
                                                                <span>
                                                                    <i class="material-icons rtl-no-flip checkbox-checked"></i>
                                                                </span>
                                                                <label>
                                                                    {% trans "I consent to the processing and use of my personal data in accordance with GDPR" %}
                                                                </label>
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row ">
                                                        <div class="col-md-12">
                                                            <label></label>
                                                            <label class="help-msg-register">
                                                                {% trans "If you want to register as a B2B customer, please contact us." %}
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_SITE_KEY }}"></div>
                                                </div>
                                                <footer class="form-footer clearfix">
                                                    <button class="btn btn-primary wide form-control-submit float-xs-right btn-confirm" data-link-action="save-customer" type="submit" value="REGISTER">{% trans "Continue"%} </button>
                                                </footer>
                                            </form>
                                        </section>
                                    </section>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
                <section id="wrapper2" class="stick_parent_lb section-2 section-hidden">
                    <div class="container">
                        <div id="content-wrapper">
                            <section id="main2">
                                <div class="container">
                                    <header class="page-header">
                                        <h1 class="text-gray-muted">{% trans "Login"%} </h1>
                                    </header>
                                    <section id="content" class="page-content card card-block">
                                        <section class="login-form">
                                            <form id="login-form" action="{% url 'cart_anonymous_login' %}" method="post">
                                                {% csrf_token %}
                                                <div>
                                                    <input type="hidden" name="back" value="my-account">
                                                    <div class="form-group row ">
                                                        <div class="col-md-12 form-control-comment">
                                                            <span class="req">*</span>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label>Email</label>
                                                            {{ form_login.username | add_class:"form-control" | attr:"placeholder: " }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group row ">
                                                        <div class="col-md-12 form-control-comment">
                                                            <span class="req">*</span>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label>{% trans "Password"%}</label>
                                                            <div class="input-group js-parent-focus">
                                                                {{  form_login.password | add_class:"form-control js-child-focus js-visible-password" | attr:"placeholder: "  }}
                                                                {% include "widgetElements/showPasswordBtn.html" %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <footer class="form-footer text-sm-center clearfix">
                                                    <button class="btn btn-primary btn-confirm" data-link-action="sign-in" type="submit">
                                                        {% trans "Continue"%}
                                                    </button>
                                                </footer>
                                            </form>
                                        </section>
                                    </section>
                                    <footer class="page-footer hidden">
                                    </footer>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
            </div>
            {% include "checkout/checkout_widget.html" %}
        </div>
    </div>
</body>
{{ form.errors|json_script:"form_errors" }}
<script src="{% static "js/checkout/checkoutAuth.js" %}"></script>
{% endblock %}